In [ ]:
import pandas as pd
import numpy as np


df= pd.read_csv('Fuentes_Consumo_Energia.csv')

In [ ]:
# elimino la columna llamada Code de forma permanente por usar "inplace=True". Axis se usa para indicar el nombre de las columnas
df.drop('Code', axis=1, inplace=True)

In [108]:
#Elimina las filas en donde se encuentran valores faltantes en todo el data frame de manera permanente. El thresh le indica la cantidad de valores que deben ser no nulos
df.dropna(inplace=True, thresh=9)

In [61]:
df.sort_values('Year') #ordenar los datos por año
df.tail() #mostrar el final del dataframe

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

Convertir los consumos energéticos registrados en ExaJulios a Teravatio/hora para poder calcular, dentro de la Entidad 'Mundo', el mayor consumo del año 2019

In [56]:

df1= pd.read_csv('Fuentes_Consumo_Energia.csv', delimiter = ',',encoding = "utf-8")
df1['Coal_Consumption_EJ-de-TWh']=df1['Coal_Consumption_EJ'].apply(lambda x:x * 277.778)
df1['Gas_Consumption_EJ-de-TWh']=df1['Gas_Consumption_EJ'].apply(lambda x:x * 277.778)
df1['Oil_Consumption_EJ-de-TWh']=df1['Oil_Consumption_EJ'].apply(lambda x:x * 277.778)
df1['consumo_total']=df1.apply( lambda row: row['Coal_Consumption_EJ-de-TWh']+    row['Gas_Consumption_EJ-de-TWh']+    row['Oil_Consumption_EJ-de-TWh']+    row['Geo_Biomass_Other_TWh']+    row['Hydro_Generation_TWh']+    row['Nuclear_Generation_TWh']+    row['Solar_Generation_TWh']+    row['Wind_Generation_TWh'], axis=1)
valorfinal=round(df1['consumo_total'][(df1.Entity=='World')&(df1.Year==2019)].sum(),2)
valorfinal

146585.3

In [86]:
#Reiniciar el index sin conservar en una nueva columna el anterior. Para eso se usa drop=True
df.reset_index(inplace=True,drop=True)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Algeria,DZA,1965,0.002931,0.026750,0.000000,0.400000,0.000000,0.000000,0.000000,0.055459
1,Algeria,DZA,1966,0.002847,0.027789,0.000000,0.355000,0.000000,0.000000,0.000000,0.072982
2,Algeria,DZA,1967,0.002177,0.026958,0.000000,0.410000,0.000000,0.000000,0.000000,0.068191
3,Algeria,DZA,1968,0.002303,0.028344,0.000000,0.563000,0.000000,0.000000,0.000000,0.072602
4,Algeria,DZA,1969,0.002931,0.037266,0.000000,0.361000,0.000000,0.000000,0.000000,0.076701
...,...,...,...,...,...,...,...,...,...,...,...
4134,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
4135,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
4136,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
4137,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
4138,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

### Trabajando con una sola fila

In [ ]:
#buscar en la columna entity el valor world y ademas en la columna Year el valor 2019
df[(df['Entity']=='World')&(df['Year']==2019)]

In [99]:
#Para hacer un Slicing usamos iloc [filas o fila_inicio:fila_final, columna o columna_inicio:columna_final] Teniendo en cuenta que el valor final no se toma. Si pasamos un solo valor se toma tal cual.

#Esto sería trabajando con una sola fila
suma_de_twh = df.iloc[4138,5:10].sum() #suma el valor contenido en la fila 4138 y las columnas 5, 6, 7, 8 y 9
convertidos = suma_de_twh/277.778 
suma_columna3y4y10 = df.iloc[4138,3:5].sum()+df.iloc[4138,10] #suma los valores contenidos en la fila 4138 y las columnas 3, 4 y 10
suma_total = convertidos+suma_columna3y4y10

492.3413914
35.365270899063276
527.7066622990633

In [ ]:
print(round(suma_total,2))

### Trabajando con todas las filas

In [101]:
#Trabajando con todas las filas del dataset
df['Consumo_Total'] = df['Coal_Consumption_EJ'] + df['Gas_Consumption_EJ'] + df['Geo_Biomass_Other_TWh']/277.778 + df['Hydro_Generation_TWh']/277.778 + df['Nuclear_Generation_TWh']/277.778 + df['Solar_Generation_TWh']/277.778 + df['Wind_Generation_TWh']/277.778 + df['Oil_Consumption_EJ']

In [106]:
consumo = round(float(df[(df['Entity'] == 'World') & (df['Year'] == 2019)]['Consumo_Total']),2)
print (consumo)

527.71

In [107]:
df

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Consumo_Total
0,Algeria,DZA,1965,0.002931,0.026750,0.000000,0.400000,0.000000,0.000000,0.000000,0.055459,0.086579
1,Algeria,DZA,1966,0.002847,0.027789,0.000000,0.355000,0.000000,0.000000,0.000000,0.072982,0.104896
2,Algeria,DZA,1967,0.002177,0.026958,0.000000,0.410000,0.000000,0.000000,0.000000,0.068191,0.098802
3,Algeria,DZA,1968,0.002303,0.028344,0.000000,0.563000,0.000000,0.000000,0.000000,0.072602,0.105276
4,Algeria,DZA,1969,0.002931,0.037266,0.000000,0.361000,0.000000,0.000000,0.000000,0.076701,0.118198
...,...,...,...,...,...,...,...,...,...,...,...,...
4134,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968,495.371613
4135,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413,501.024422
4136,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920,508.996052
4137,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896,522.528687
4138,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574,527.706662